hexaglue-maven-plugin/src/main/resources/hexaglue-audit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://hexaglue.io/audit/config/1.0"
           targetNamespace="http://hexaglue.io/audit/config/1.0"
           elementFormDefault="qualified"
           version="1.0">

    <xs:annotation>
        <xs:documentation>
            Schema for HexaGlue Audit Configuration in Maven pom.xml.

            This schema defines the configuration parameters available on the
            audit Mojo (goal "audit"). Build-failure settings (failOnError,
            errorOnBlocker, errorOnCritical) are Maven @Parameter properties
            and do not appear here.

            Plugin-specific settings (severity overrides, rule toggles) are
            configured in hexaglue.yaml under the "plugins:" section.
        </xs:documentation>
    </xs:annotation>

    <!-- Root element -->
    <xs:element name="configuration" type="AuditMojoConfigurationType">
        <xs:annotation>
            <xs:documentation>
                Maven plugin configuration element for the audit goal.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Audit Mojo configuration type -->
    <xs:complexType name="AuditMojoConfigurationType">
        <xs:all>
            <xs:element name="basePackage" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The base package to analyze. Types outside this package are ignored.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="skip" type="xs:boolean" minOccurs="0" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Skip HexaGlue audit execution. Default: false.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="failOnError" type="xs:boolean" minOccurs="0" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Fail the Maven build when audit errors are found.
                        Overrides the YAML failOnError setting. Default: true.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorOnBlocker" type="xs:boolean" minOccurs="0" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Treat BLOCKER violations as audit errors.
                        Overrides the YAML errorOnBlocker setting. Default: true.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorOnCritical" type="xs:boolean" minOccurs="0" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Treat CRITICAL violations as audit errors.
                        Overrides the YAML errorOnCritical setting. Default: false.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reportDirectory" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Output directory for audit reports.
                        Default: ${project.build.directory}/hexaglue/reports.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="failOnUnclassified" type="xs:boolean" minOccurs="0" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Whether to fail the build if unclassified types remain. Default: false.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

</xs:schema>
